<div id="albums__container">
    <div class="albums">
        <div *ngFor="let album of albums" class="album">
            <div *ngIf="album" class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Album ID: {{ album.id }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">User ID: {{ album.userId }}</h6>
                    <p class="card-text">{{ album.title }}</p>
                    <div class="buttons">
                        <button (click)="onDelete(album.id)" type="button" class="btn btn-danger">Delete</button>
                        <a 
                          [routerLink]="['/albums', album.id]"
                          class="card-link"
                        >
                            <button type="button" class="btn btn-info">Info</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>